nav{
    height: 52px;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #eeeeee;
    vertical-align: top;
}

#nav-list{
    display: inline-block;
    height: 52px;
}

#nav-list ul{
    display: inline-block;
    width: 720px;
    height: 30px;
    list-style: none;
    padding: 0;
    margin: 0;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    padding-top: 5px;
}

#nav-list ul li{
    display: inline-block;
    height: 20px;
    background: #03cf5d;

}

.list-item-1{
    width: 60px;
}

.list-item-2{
    width: 30px;
}

.list-item-3{
    width: 44px;
}

.list-item-4{
    width: 45px;
}

.list-item-5{
    width: 24px;
}

.list-item-6{
    width: 54px;
}

.list-item-7{
    width: 24px;
}

.list-item-8{
    width: 33px;
}

.list-item-9{
    width: 30px;
}

.list-item-10{
    width: 30px;
}

.list-item-11{
    width: 30px;
}

.list-item-12{
    width: 44px;
}

.list-item-13{
    width: 30px;
}

.list-item-14{
    width: 32px;
}

.list-item-15{
    width: 15px;
}

.list-item-16{
    width: 30px;
}

#list-more-btn{
    height: 30px;
    display: inline-block;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    vertical-align: top;
    padding-top: 7px;
}

#list-more-btn > a{
    height: 16px;
    vertical-align: top;
    text-decoration-line: none;
}

#list-more-btn:hover a{
    text-decoration-line: underline;
}